
.i-icon-cancel:before { content: '\e800'; } /* '' */
.i-icon-custom-1:before { content: '\e805'; } /* '' */
.i-icon-custom-3:before { content: '\e806'; } /* '' */
.i-icon-custom-2:before { content: '\e807'; } /* '' */
.i-icon-empty-equipment:before { content: '\e808'; } /* '' */
.i-icon-code:before { content: '\e92e'; } /* '' */